{% extends "base.html" %}

{% block content %}

<h3>Book</h3>

<div class="btn-group">
  <a href="/books/{{book.id}}/edit" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-edit"></i>
    Edit book
  </a>
  <a href="/books/{{book.id}}/delete" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    Delete book
  </a>
</div>

<div class="media">
  {# [START book_image] #}
  <div class="media-left">
    {% if book.image_url %}
      <img class="book-image" src="{{book.image_url}}">
    {% else %}
      <img class="book-image" src="https://placekitten.com/g/128/192">
    {% endif %}
  </div>
  {# [END book_image] #}
  <div class="media-body">
    <h4 class="book-title">
      {{book.title}}
      <small>{{book.published_date}}</small>
    </h4>
    <h5 class="book-author">By {{book.author|default('Unknown', True)}}</h5>
    <p class="book-description">{{book.description}}</p>
  </div>
</div>

{% endblock %}
